.sidebar-style {
  width: 20vw;
  height: 75vh;
  background-color: white;
  border-radius: 50px;
  margin-right: 2%;
  padding: 2%;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkorchid;
  border-radius: 50px;
  width: 5vw;
  height: 10vh;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 35px;
  gap: 8px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 1%;
}
